@media screen and (min-width: 559px) {
    section .paragrafo {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 300px 100px calc(100% - 500px) 100px;
        grid-template-rows: calc(100% - 90px) 90px;
        grid-template-areas: 
        'menu secao'
        'menu botoes';
        background-color: white;
    }

    /* Início: barra-lateral */
    .container-principal .barra-lateral {
        grid-area: menu;
        background-image: url('/assets/images/bg-sidebar-desktop.svg');
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 25px;
    }

    .barra-lateral .lista {
        flex-direction: column;
        gap: 30px;
    }

    .lista li {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .lista li .container-titulo {
        display: block;
        text-transform: uppercase;
    }

    .container-titulo .step {
        font-family: var(--Ubuntu-Regular);
        font-size: .8rem;
        color: var(--Cinza-claro);
        margin-bottom: 3px;
    }

    .container-titulo .titulo {
        font-family: var(--Ubuntu-bold);
        font-size: 1.1rem;
        color: var(--Branco);
        cursor: pointer;
    }
    /* Fim: barra-lateral */

    /* Início: seções */
    section {
        position: initial;
        transform: translateX(0%);
        z-index: 0;
        width: 100%;
        grid-area: secao;
        grid-column: 3/4;
    }
    /* Fim: seções */
}