@media screen and (min-width: 559px) {
    section .paragrafo {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 300px 100px calc(100% - 500px) 100px;
        grid-template-rows: calc(100% - 90px) 90px;
        grid-template-areas: 
        'menu secao'
        'menu botoes';
    }
}