@media screen and (min-width: 559px) {
    section .paragrafo {
        width: 100%;
    }
}

@media screen and (orientation: landscape) and (max-width: 999px) {
    main {
        height: 45rem;
    }

    section.obrigado .paragrafo {
        width: 470px;
    }
}

@media screen and (min-width: 1000px) {
    main {
        background-color: var(--Branco);
        padding: 10px;
        display: grid;
        grid-template-columns: 260px 100px calc(100% - 460px) 100px;
        grid-template-rows: calc(100% - 49px) 49px;
        grid-template-areas: 
        'menu secao'
        'menu botoes';
    }

    /* Início: barra-lateral */
    .container-principal .barra-lateral {
        grid-area: menu;
        background-image: url('../images/bg-sidebar-desktop.svg');
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 25px;
        border-radius: 10px;
    }

    .barra-lateral .lista {
        flex-direction: column;
        gap: 30px;
    }

    .lista li {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .lista li .container-titulo {
        display: block;
        text-transform: uppercase;
    }

    .container-titulo .step {
        font-family: var(--Ubuntu-Regular);
        font-size: .8rem;
        color: var(--Cinza-claro);
        margin-bottom: 3px;
    }

    .container-titulo .titulo {
        font-family: var(--Ubuntu-bold);
        font-size: .9rem;
        color: var(--Branco);
        cursor: pointer;
    }
    /* Fim: barra-lateral */

    /* Início: seções */
    section {
        position: initial;
        transform: translateX(0%);
        z-index: 0;
        width: 100%;
        grid-area: secao;
        grid-column: 3/4;
    }
    /* Fim: seções */

    /* Início: formulário */
    form input {
        padding: 10px;
    }

    form input::placeholder {
        font-size: .8rem;
    }
    /* Fim: formulário */

    /* Início: select your plan */
    section .cards-planos {
        display: flex;
        justify-content: space-between;
    }

    section .cards-planos .container-plano {
        flex-direction: column;
        width: 10rem;
        gap: 50px;
    }

    .switch-planos {
        padding: 10px 0;
        margin-top: 15px;
    }

    .switch-planos input {
        width: 2.8rem;
        height: 1.3rem;
    }

    .switch-planos input::before {
        width: .9rem;
        height: .9rem;
    }
    /* Fim: select your plan */

    /* Início: seções */
    footer {
        grid-area: botoes;
        grid-column: 3/4;
        height: auto;
    }

    footer button {
        font-size: .8rem;
    }
    /* Fim: seções */
}

@media screen and (min-width: 1200px) {
    /* Início: seções */
    section {
        width: 80%;
        justify-self: center;
    }
    /* Fim: seções */

    /* Início: formulário */
    form input {
        padding: 15px;
    }

    form input::placeholder {
        font-size: 1rem;
    }

    form input {
        font-size: 1rem;
    }
    /* Fim: formulário */

    /* Início: select your plan */
    section .cards-planos .container-plano {
        width: 13.5rem;
        gap: 130px;
    }
    /* Fim: select your plan */

    /* Início: pick add-ons */
    .servico-adicional {
        padding: 20px;
    }

    .servico-adicional .servico-titulo {
        font-size: 1.1rem;
    }

    .servico-adicional .servico-descricao,
    .servico-adicional .servico-valor {
        font-size: .9rem;
    }
    /* Fim: pick add-ons */

    /* Início: finishing up */
    .container-verificacao {
        padding: 35px 30px;
    }

    .container-verificacao .plano-escolhido {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    /* Fim: finishing up */

    /* Início: thank you */
    section.obrigado .titulo-obrigado {
        font-size: 2rem;
    }

    section.obrigado .paragrafo {
        font-size: 1.2rem;
        width: 562px;
    }
    /* Fim: thank you */

    /* Início: botoes inferiores */
    footer {
        width: 80%;
        justify-self: center;
    }

    footer button {
        font-size: 1rem;
    }
    /* Fim: botoes inferiores */
}

@media screen and (min-width: 1650px) {
    section {
        width: 50%;
    }

    footer {
        width: 50%;
    }
}