@font-face {
    font-family: Ubuntu-Bold;
    src: url('/assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url('/assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('/assets/fonts/Ubuntu-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.container-principal .barra-lateral {
    background: url('/assets/images/bg-sidebar-mobile.svg') no-repeat center;
    background-size: cover;
}

.barra-lateral .lista {
    display: flex;
    place-content: center;
}