@font-face {
    font-family: Ubuntu-Bold;
    src: url('/assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url('/assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('/assets/fonts/Ubuntu-Regular.ttf');
}

:root {
 /* Principal */

--Azul-marinho: hsl(213, 96%, 18%);
--Azul-púrpura: hsl(243, 100%, 62%);
--Azul-pastel: hsl(228, 100%, 84%);
--Azul-claro: hsl(206, 94%, 87%);
--Morango-vermelho: hsl(354, 84%, 57%);

/* Neutro */

--Cinza-frio: hsl(231, 11%, 63%);
--Cinza-claro: hsl(229, 24%, 87%);
--Magnólia: hsl(217, 100%, 97%);
--Alabastro: hsl(231, 100%, 99%);
--Branco: hsl(0, 0%, 100%);

/* fontes */

--Ubuntu-bold: Ubuntu-Bold, sans-serif;
--Ubuntu-medium: Ubuntu-Medium, sans-serif;
--Ubuntu-Regular: Ubuntu-Regular, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

main {
    background-color: var(--Azul-claro);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*  Início: Barra lateral e números */
.container-principal .barra-lateral {
    background: url('/assets/images/bg-sidebar-mobile.svg') no-repeat center;
    background-size: cover;
    height: 10rem;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.barra-lateral .lista {
    display: flex;
    place-content: center;
    gap: 15px;
}

.lista li {
    list-style-type: none;
}

.lista li .numero {
    font-family: var(--Ubuntu-medium);
    color: var(--Cinza-claro);
    border: 1px solid var(--Cinza-claro);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    place-content: center;
    transition: .3s;
}

.lista li.ativo .numero {
    background: var(--Azul-claro);
    border-color: var(--Azul-claro);
    color: var(--Azul-marinho);
}

.lista li .container-titulo {
    display: none;
}

/*  Fim: Barra lateral e números */

/* Início: seções */
section {
    background-color: var(--Branco);
    border-radius: 15px;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 90%;
    padding: 30px 25px;
}
/* Fim: seções */

/* Inicio: elementos das seções */
section .titulo-secao {
    font-family: var(--Ubuntu-bold);
    color: var(--Azul-marinho);
}

section .paragrafo {
    font-family: var(--Ubuntu-medium);
    color: var(--Cinza-frio);
    margin: 15px 0 20px 0;
    width: 250px;
}
/* Fim: elementos das seções */

/* Início: formulário */
form .container-label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3px;
}

form .container-label label {
    font-family: var(--Ubuntu-medium);
    color: var(--Azul-marinho);
}

form .container-label .menssagem-error {
    font-family: var(--Ubuntu-medium);
    font-size: .8rem;
    color: var(--Morango-vermelho);
}

form input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--Cinza-frio);
    margin-bottom: 20px;
}

form input::placeholder {
    font-family: var(--Ubuntu-Regular);
    font-size: 1.1rem;
    color: var(--Azul-marinho);
}
/* Fim: formulário */

/* Início: select your plan */
.container-plano {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border: 1px solid var(--Cinza-frio);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.container-plano:hover {
    border: 1px solid var(--Azul-púrpura);
    background-color: var(--Azul-claro);
}

.container-plano div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-plano div .nome-plano {
    font-family: var(--Ubuntu-bold);
    font-size: 1rem;
    color: var(--Azul-marinho);
} 

.container-plano div .valor-plano {
    font-family: var(--Ubuntu-medium);
    font-size: .9rem;
    color: var(--Cinza-frio);
}

.container-plano div .bonus-plano {
    font-size: .7rem;
    font-family: var(--Ubuntu-medium);
    color: var(--Azul-marinho);
}

.container-plano div .valor-plano:nth-child(3), 
.container-plano div .bonus-plano {
    display: none;
}

.switch-planos {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--Magnólia);
    padding: 15px 0;
    margin-top: 25px;
}

.switch-planos .plano-mensal {
    font-family: var(--Ubuntu-bold);
    color: var(--Azul-marinho);
}

.switch-planos .plano-anual {
    font-family: var(--Ubuntu-bold);
    color: var(--Cinza-frio);
}

.switch-planos input {
    appearance: none;
    position: relative;
    background: var(--Azul-marinho);
    width: 3.5rem;
    height: 1.7rem;
    border-radius: 50px;
    margin: 0 25px;
    cursor: pointer;
}

.switch-planos input::before {
    content: '';
    background: var(--Branco);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transition: .5s;
    transform: translateY(-50%);
}

.switch-planos input:checked::before {
    left: 55%;
}
/* Fim: select your plan */

/* Início: pick add-ons */
.servico-adicional {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--Cinza-frio);
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.servico-adicional.ativo {
    background-color: var(--Azul-claro);
    border: 1px solid var(--Azul-púrpura);
}

.servico-adicional input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.servico-adicional div {
    gap: 10px;
    width: 80%;
}

.servico-adicional .servico-titulo {
    font-size: 1rem;
    font-family: var(--Ubuntu-bold);
    color: var(--Azul-marinho);
}

.servico-adicional .servico-descricao {
    font-size: .8rem;
    font-family: var(--Ubuntu-medium);
    color: var(--Cinza-frio);
}

.servico-adicional .servico-valor {
    font-family: var(--Ubuntu-Regular);
    font-size: .8rem;
    color: var(--Azul-púrpura);
}

.servico-adicional .servico-valor:last-child {
    display: none;
}
/* Fim: pick add-ons */

/* Início: finishing up */
.container-verificacao {
    background-color: var(--Magnólia);
    padding: 30px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container-verificacao .plano-escolhido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.plano-escolhido {
    border-bottom: 1px solid var(--Cinza-claro);
    padding-bottom: 15px;
}

.plano-escolhido .escolhido-titulo {
    font-family: var(--Ubuntu-bold);
    font-size: 1rem;
    color: var(--Azul-marinho);
}

.plano-escolhido .botao-alterar-plano {
    font-family: var(--Ubuntu-medium);
    font-size: .9rem;
    color: var(--Cinza-frio);
    text-decoration: underline;
}

.plano-escolhido .valor-final {
    font-family: var(--Ubuntu-bold);
    font-size: .9rem;
    color: var(--Azul-marinho);
}

.servicos-escolhidos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servicos-escolhidos div {
    display: flex;
    justify-content: space-between;
}

.servicos-escolhidos div .nome-servico {
    font-family: var(--Ubuntu-bold);
    font-size: 1rem;
    color: var(--Cinza-frio);
}

.servicos-escolhidos div .valor-final {
    font-family: var(--Ubuntu-medium);
    font-size: .9rem;
}

.valores-finais {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.valores-finais .descricao-valor {
    font-family: var(--Ubuntu-medium);
    color: var(--Cinza-frio);
}

.valores-finais .valor-total {
    font-family: var(--Ubuntu-bold);
    color: var(--Azul-púrpura);
}
/* Fim: finishing up */

/* Início: thank you */
section.obrigado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
}
section.obrigado img.check {
    width: 3.5rem;
}

section.obrigado .titulo-obrigado {
    font-family: var(--Ubuntu-bold);
    margin-top: 25px;
}

section.obrigado .paragrafo {
    width: 95%;
    text-align: center;
    line-height: 25px;
}
/* Fim: finishing up */

/* Início: botoes inferiores */
footer {
    background-color: var(--Branco);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer button {
    border: none;
    font-family: var(--Ubuntu-bold);
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer button.go-back {
    background-color: transparent;
    color: var(--Cinza-frio);
    visibility: hidden;
}

footer button.ativo {
    visibility: visible;
}

footer div {
    position: relative;
    width: 140px;
}

footer div button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

footer div button.next {
    background-color: var(--Azul-marinho);
    color: var(--Branco);
    display: none;
}

footer div button.confirm {
    background: var(--Azul-púrpura);
    color: var(--Branco);
    display: none;
}

footer div button.ativo {
    display: inline-block;
}
/* Fim: botoes inferiores */